html {
  margin: 0;
  background-color: rgb(235, 235, 235);
}

body {
  margin-bottom: 30px;
}

#header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20px;
  background-color: rgb(235, 235, 235);
}

.head {
  position: fixed;
  top: 0;
  margin: 0;
}

#nav-bar {
  display: grid;
  grid-template-columns: 30% 50% 30%;
  grid-gap: 60px;
  width: inherit;
  height: 100%;
  padding: 10px;
  margin-top: 20px;
}

#main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: 'Ubuntu', Geneva, Tahoma, sans-serif;
}

::placeholder {
  font-size: 1.1em;
  font-family: 'Shippori Antique', sans-serif;
}

#submit {
  width: 10%;
  height: 30px;
  background-color: rgb(128, 128, 20);
}

#email {
  height: 30px;
  width: 20%;
}

b {
  font-size: 1.3em;
}

.imag {
  width: 50px;
  height: 50px;
}

#features {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: left;
  display: grid;
  grid-template-columns: 40px 90%;
  grid-template-rows: 40% 40% 40%;
  justify-content: left;
  grid-column-gap: 80px;
  grid-row-gap: 10px;
}

a {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  padding: 10px;
  display: block;
  text-align: center;
}

a:hover {
  background-color: rgb(206, 206, 206);
}

#pricing {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

h4 {
  display: block;
  background-color: rgb(212, 212, 212);
  margin: 0;
  padding: 15px;
}

#item1 {
  border: 2px solid black;
}

#item2 {
  border: 2px solid black;
}

#item3 {
  border: 2px solid black;
}

.submit {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(253, 183, 53);
  font-size: 1.1em;
  border: 0;
  font-weight: lighter;
  text-transform: uppercase;
}

.submit:hover {
  background-color: rgb(167, 110, 5);
}

#submit:hover {
  background-color: rgb(80, 80, 8);
  position: relative;
  padding: 10px;
}

#video {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 900px) {
  #pricing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
  }

  .price {
    margin-bottom: 20px;
    width: 80%;
    font-size: 1.1em;
  }

  #submit {
    width: 15%;
    height: 20px;
    background-color: rgb(128, 128, 106);
    font-size: 60%;
    font-family: 'Ubuntu', Geneva, Tahoma, sans-serif;
  }

  #email {
    height: 30px;
    width: 30%;
    border: 2px solid grey;
  }

  #features {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    display: grid;
    grid-template-columns: 20px 80%;
    grid-template-rows: 40% 40% 40%;
    justify-content: start;
    grid-column-gap: 60px;
    grid-row-gap: 10px;
    font-weight: lighter;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .imag {
    width: 30px;
    height: 30px;
  }

  #nav-bar {
    display: grid;
    grid-template-columns: 30% 50% 30%;
    grid-gap: 40px;
    width: 70%;
    height: 100%;
    padding: 5px;
    margin-top: 20px;
  }

  #video {
    width: 460px;
    height: 215px;
  }
}

@media screen and (max-width: 450px) {
  #pricing {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 0;
  }

  .price {
    margin-bottom: 20px;
    width: 90%;
    font-size: 50%;
  }

  #submit {
    width: 15%;
    height: 20px;
    background-color: rgb(128, 128, 106);
    font-size: 60%;
    font-family: 'Ubuntu', Geneva, Tahoma, sans-serif;
  }

  #email {
    height: 30px;
    width: 30%;
    border: 2px solid grey;
  }

  #features {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    display: grid;
    grid-template-columns: 20px 80%;
    grid-template-rows: 40% 40% 40%;
    justify-content: start;
    grid-column-gap: 60px;
    grid-row-gap: 10px;
    font-weight: lighter;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .imag {
    width: 30px;
    height: 30px;
  }

  #nav-bar {
    display: grid;
    grid-template-columns: 30% 50% 30%;
    grid-gap: 40px;
    width: 70%;
    height: 100%;
    padding: 5px;
    margin-top: 20px;
  }
}
